/* Basic navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #ddd;
}

/* Toggle button for mobile view */
.navbar-toggle {
    display: none;
    flex-direction: column;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-toggle-icon {
    width: 25px;
    height: 3px;
    background-color: white;
}
.navbar-avatar-container {
    position: relative;
    display: inline-block;
}

.navbar-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 60px; /* Adjusts the position below the avatar */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.dropdown-menu a, .dropdown-menu span {
    padding: 10px;
    text-align: center;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-menu a:hover, .dropdown-menu span:hover {
    background-color: #f0f0f0;
}

